<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress Bar</h4>
                <!-- Progress Bar -->
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" style="height:20px;"
                    role="progressbar"></div>
                </div>
                <!-- [style.width]="getPorcentaje" -->
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress Bar</h4>
                <!-- Progress Bar -->
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" style="height:20px;"
                    role="progressbar"></div>
                </div>
                <!-- [style.width]="getPorcentaje" -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <!-- Controls Progress -->
                <app-controls-progress></app-controls-progress>
                
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <!-- Controls Progress -->
                <app-controls-progress></app-controls-progress>

            </div>
        </div>
    </div>
</div>


